@import url("https://fonts.cdnfonts.com/css/aramis");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Aramis";
}

html,
body,
:root {
  height: "100%";
  background-color: black;
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 0px;
}

/* ::-webkit-scrollbar-track {
  @apply bg-neutral-400/10;
}

::-webkit-scrollbar-thumb {
  @apply bg-emerald-800;
} */

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SliderThumb {
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
  box-shadow: 0 2px 10px black;
  border-radius: 10px;
}
